* {
  margin: 0;
}
:root {
  --color-textbox-primary: #63b896;
  --color-textbox-secondary: #f1da72;
  --color-secondary: #e6e6e5;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div,
input,
button {
  border-radius: 5px;
}
.chat {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  background-color: #fff;
  max-width: 700px;
  margin: 0 auto;
}
/* text */
.text-container {
  min-height: 2.5rem;
  background-color: var(--color-secondary);
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5em;
}

.text-area {
  width: 80%;
}
.text-area > input {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.3em;
  border: none;
  outline: 2px solid black;
}
.text-container > button {
  font-size: 1rem;
  padding: 0.3em;
  font-weight: 700;
  border: none;
  background-color: #fff;
  outline: 2px solid black;
}
/*  message  */
.message_container {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
#anchor {
  height: 10px;
}
.message_holder {
  display: flex;
  flex-direction: column;
  margin: 0 1em 1em 1em;
}
.message_holder:first-of-type {
  margin-top: 3em;
}
.message_holder:first {
  background-color: violet;
}
.bubble {
  background-color: #63b896;
  padding: 0.4em;
  width: 80%;
  max-width: 500px;
  border: 2px solid #000;
}
.user {
  background-color: #f1da72;
  align-self: flex-end;
  /* margin-left: */
}
